*{
    margin: 0px;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(135deg , #153577, #4e085f );
    padding: 10px;

}